<% var upvoteClass = "" %>
<% var downvoteClass = "" %>
<% if (annotation.isVotedOn() && annotation.vote().get("value") === 1) { %>
  <% upvoteClass = "voted" %>
<% } else if (annotation.isVotedOn() && annotation.vote().get("value") === -1) { %>
  <% downvoteClass = "voted" %>
<% } %>
<p>
  <strong>Annotation by <%= annotation.escape("author") %></strong>
  <br>
  <%= annotation.escape("body") %>
  <br>
  <a class="upvote <%= upvoteClass %>" aria-label="upvote" href="javascript:void(0)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></a> <%= annotation.get("vote_count") %> <a class="downvote <%= downvoteClass %>" aria-label="downvote" href="javascript:void(0)"><span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></a>
</p>

<div class="comments-container">
</div>
