<% if (recipe.image().id) { %>
  <img class="recipe-image" src="<%= recipe.image().escape("url") %>">
  <br>
<% } %>
<div class="container">
  <div class="recipe-column col-md-6">
    <h1><%= recipe.escape("title") %></h1>
    <h2>Posted by <a href="#/users/<%= recipe.escape("author_id") %>"><%= recipe.escape("author") %></a></h2>
    <% recipe.tags().each(function(tag) { %>
      <a href="#/tags/<%= tag.escape("id") %>"><%= tag.escape("label") %></a>
      <% }) %>
    <br><br>
    <pre class="recipe-body"><%= recipe.escape("body") %></pre>
    <a href="">Recipe Index</a>
    <br><br>
    <div class="comments-container">
    </div>
  </div>

  <div class="annotation-container col-md-6">
  </div>

  <br>
</div>
