<% if (recipe.image().id) { %>
<div class="nav-overlap">
  <div class="recipe-image-header vertical-center">
    <img class="recipe-image" src="<%= recipe.image().escape("url") %>">
  </div>
</div>
  <br>
<% } %>
<div class="container">
  <div class="recipe-column col-md-6">
    <a class="tag" href="">Recipe Index</a>
    <h1><%= recipe.escape("title") %></h1>
    <h2>Posted by <a href="#/users/<%= recipe.escape("author_id") %>"><%= recipe.escape("author") %></a></h2>
    <% recipe.tags().each(function(tag) { %>
      <a class="tag" href="#/tags/<%= tag.escape("id") %>"><%= tag.escape("label") %></a>
      <% }) %>
    <br><br>
    <p class="recipe-body" data-toggle="tooltip" data-placement="top" title="Highlight text to begin annotation"><%= recipe.escape("body") %></p>
    <% if (recipe.get("author_id") == ChefGenius.CURRENT_USER.id) { %>
      <button class="delete">Delete Recipe</button><br>
    <% } %>
    <br><br>
    <div class="comments-container">
      <div class="comments-index">
      </div>
      <div class="comments-form">
      </div>
    </div>
  </div>

  <div class="annotation-container col-md-6">
  </div>

  <br>
</div>
