<!DOCTYPE html>
<html>
<head>
  <title>ChefGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" charset="utf-8">
    window.FP_API_KEY = "<%=ENV['CLOUD_API_KEY']%>";
  </script>
  <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
</head>
<body>
<%= render "layouts/errors" %>
<%= yield %>

</body>
</html>
